main > .max-width {
	display: flex;
	/* flex-direction: row-reverse; */
	/* 왜 굳이 row-reverse 하고 순서를 거꾸로 배치하는지 궁금합니다 */
	gap: 2.4rem;
	position: relative;
}

@media (max-width: 1024px) {
	main .max-width {
		flex-direction: column;
	}
}
